*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
p {
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

a{
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header, 
.footer{
    background-color: #1F2937;
    color: white;
}

.header{
    padding-bottom: 2rem;
}

button{
    background-color: #3882F6;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    color: white;
}

button:hover{
    background-color: #1654b9;
    cursor: pointer;
}

.grey-section{
    background-color: #E5E7EB;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.container{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 0 0 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
}

.navbar{
    display: block;
}

.navlink-wrapper{
    display: flex;

}

ul{
    list-style: none;
}

.navlink{
    margin-right: 2.5rem;
}

.logo-wrapper{
    margin-right: auto;
}

.hero-flex{
    display: flex;
    flex-direction: row;
}


.box-wrapper{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.box-img{
    border: #3882F6 solid;
    border-radius: 20px;
    margin-bottom: .5rem;
}

.hero-img{
    height: auto;
    width: 100%;
}

.content-left, 
.content-right{
    flex: 1;
}

.content-left{
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}